.card {
    display: grid; /* ativa o grid */
    place-items: center; /* alinha os items no centro */
    padding: 50px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: aliceblue;
    box-shadow: 2px 5px 12px grey;
}

.botao {
    background-color: aliceblue;
    border-radius: 30px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 2px 5px 12px grey;
}

.botao:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px grey;
}
