.card1 {
    width: 85px;
    height: 120px;
    padding: 30px;
    margin: 30px;
    border: 2px solid;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 2px 4px 10px;
}

.card2 {
    width: 85px;
    height: 120px;
    padding: 30px;
    margin: 30px;
    border: 2px solid;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 2px 4px 10px;
}

.card3 {
    width: 85px;
    height: 120px;
    padding: 30px;
    margin: 30px;
    border: 2px solid;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 2px 4px 10px;
}